<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Go Big Bed!</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>GOBIGBEDAPP requests access to your calendar to find free time and schedule study reminders.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>GOBIGBEDAPP reads your sleep data to reward better rest.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>This app writes sleep sessions you start/stop in the app to Health.</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSRemindersUsageDescription</key>
	<string>GOBIGBEDAPP adds study reminders to your reminders.</string>
	<key>Privacy - Calendars Access Usage Description</key>
	<string></string>
	<key>Privacy – Health Update Usage Description</key>
	<string>GOBIGBEDAPP writes your sleep sessions to Apple Health.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
